/*p {
    font-family: “Open Sans”, sans-serif;
}*/

@font-face{
    font-family: Playfair Display;
    src: url('../fonts/playfair-display-v15-latin-regular.eot') format('embedded-opentype'),
    url('../fonts/playfair-display-v15-latin-regular.woff2') format('woff2'),
    url('../fonts/playfair-display-v15-latin-regular.woff') format('woff'),
    url('../fonts/playfair-display-v15-latin-regular.ttf') format('truetype'),
    url('../fonts/playfair-display-v15-latin-regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: Playfair Display;
    src: url('../fonts/playfair-display-v15-latin-900italic.eot') format('embedded-opentype'),
    url('../fonts/playfair-display-v15-latin-900italic.woff2') format('woff2'),
    url('../fonts/playfair-display-v15-latin-900italic.woff') format('woff'),
    url('../fonts/playfair-display-v15-latin-900italic.ttf') format('truetype'),
    url('../fonts/playfair-display-v15-latin-900italic.svg') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face{
    font-family: Playfair Display;/*font-family: Playfair Display, serif;*//* familia general y familia*/
    src: url('../fonts/playfair-display-v15-latin-700.eot') format('embedded-opentype'),
    url('../fonts/playfair-display-v15-latin-700.woff2') format('woff2'),
    url('../fonts/playfair-display-v15-latin-700.woff') format('woff'),
    url('../fonts/playfair-display-v15-latin-700.ttf') format('truetype'),
    url('../fonts/playfair-display-v15-latin-700.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

h1 {
    /*font-family: serif;*/
    /*font-family: sans-serif;*/
    font-family: 'Playfair Display';
    font-weight: 900;
    font-style: italic;
    text-align:center;
    /*text-transform:capitalize;*/
    /*text-transform:lowercase;*/
    /*text-transform:uppercase;*/
    letter-spacing: 10px;
}

p{
    /*font-size: xx-small;*/
    /*font-size: x-small;*/
    /*font-size: small;*/
    /*font-size: medium;*/
    /*font-size: large;*/
    /*font-size: x-large;*/
    /*font-size: xx-large;*/
    font-size: 20px;
    text-align:left;
    /*text-transform:*/
    /*letter-spacing:*/
    /*word-spacing: 20px;*/
    line-height:27px;
    text-decoration: none; /* overline | underline (subrayado) | line-through (tachado) */
    text-indent: 40px;
    /*white-space:*/
}